body {
    font-family: Arial;
    background: #f0f0f0;
}
.box {
    width: 340px;
    margin: auto;
    margin-top: 60px;
    background: white;
    padding: 20px;
    border-radius: 10px;
}
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#out {
    margin-top: 20px;
    font-size: 15px;
}
